<footer>
  <div class='footer-section is-social'>
    <a  href='https://www.facebook.com/ethereumFR' target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a  href='https://twitter.com/achat_ethereum' target='_blank'><i class="fa fa-twitter" aria-hidden="true"></i>

    </a>
  </div>
  <div class='footer-middle'>
    <a class='footer-item' href="images/cgu.pdf" target='_blank'>CGU</a>
  </div>
</footer>
<div class='footer-section is-last'>
  © 2016-2017 Acheter-Ethereum.com / Tous droits réservés / <br>
  N'investissez jamais plus que ce que vous pouvez vous permettre de perdre.
</div>
