
<div class="navbar">
    <div class="container is-flex is-large">
      <a class="logo" alt="easymentor_logo" href='index.html'>
        Acheter-Ethereum<span class='logo-point'></span>com
      </a>


      <div class='navbar-menu'>
      <%= link_to "Accueil", root_path, class: "navbar-menu-item hidden-container"%>
        <!-- <a class="navbar-menu-item hidden-container" href="index.html">Accueil</a> -->
        <div class="dropdown">
          <a class="navbar-menu-item hidden-container dropdown-toggle is-cta" style="vertical-align: top;" type="a" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Acheter des ETH/BTC
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <a class="navbar-menu-item hidden-container" href="coinbase.html">Coinbase (virement/CB) 🇫🇷</a>
            </li>
            <li>
              <a class="navbar-menu-item hidden-container" href="coinhouse.html">Coinhouse (virement/CB/NeoSurf) 🇫🇷</a>
            </li>
            <li>
              <a class="navbar-menu-item hidden-container" href="etoro.html">eToro (virement/CB) 🇫🇷</a>
            </li>
            <li>
              <a class="navbar-menu-item hidden-container" href="cexio.html">Cex.io (virement/CB/Cryptos) 🇬🇧</a>
            </li>
          </ul>
        </div>
        <!-- <a class="navbar-menu-item hidden-container" href="comparatif.html">Comparatif</a> -->
        <!-- <a class="navbar-menu-item hidden-container" href="faq.html">FAQ</a> -->
        <!-- <a class="navbar-menu-item hidden-container" href="contact.html">Contact</a> -->
      </div>
    </div>
  </div>
